form {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

form > div {
  display: flex;
  width: 80%;
  flex-direction: column;
}

label {
  padding-bottom: .35rem;
}

.form-label-input-element {
  height: 7rem;
}

.input-element {
  min-height: 4rem;
}

.error-message {
  margin-top: .4rem;
}

